#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:

application:
	errorPresenter: Error
	mapping:
		*: Test\App\*Module\Presenters\*Presenter

extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	replicator: Kdyby\Replicator\DI\ReplicatorExtension
	utils: Trejjam\Utils\DI\UtilsExtension

utils:
	labels:
		enable: true
	contents:
		enable: true
		logDirectory: contents
		subTypes:
			url: Trejjam\Utils\Test\UrlSubType
			bool: Trejjam\Utils\Test\BoolSubType

database:
	dsn: "sqlite::memory:"

services:
	#routing.router:
	#	autowired: no
	router: Test\App\RouterFactory()::createRouter
	#simpleRouter: Nette\Application\Routers\SimpleRouter
	url: Nette\Http\Url('http://localhost.tld/')
	application.linkGenerator: Nette\Application\LinkGenerator(@router, @url)
