a:
	type: container
	child:
		a:
			type: text
			subType: url
		b: text
		c:
			type: list
			count: 2
			listLabel: 'Foo'
			listHead: b.a
			listItem:
				a: text
				b:
					type: container
					child:
						a: text
b:
	type: list
	addItemLabel: 'Links'
	listItem:
		a:
			type: text
			subType: url
c:
	type: text
	subType: bool
