a:
	type: container
	child:
		a:
			type: text
			subType: url
		b: text
		c:
			type: list
			count: 2
			listItem:
				a: text
				b:
					type: container
					child:
						a: text
b:
	type: list
	listItem:
		a:
			type: text
			subType: url
